/* General */
body {
    color: #00F;
    background-color: #CFC;
    font-family: Georgia, Cambria, serif;
    font-size: 16px;
}

/* Headers */
h1 {
    color: #F00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}

h2 {
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}

/* Datos del libro */
.label {
    color: #060;
}

/* Web and Internet terms */
.webterm {
    font-weight: bold;
    font-size: 20px;
}

/* Highlighted terms */
.highlight {
    background-color: #000;
    color: #FFF;
    font-style: italic;
    font-weight: normal;
}
